* {
    background-color: white;
  }
  
  .tophead {
    display: flex;
  }
  
  .search {
    width: 100%;
    position: fixed;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  .search-term {
    display: flex;
    width: 30%;
    border: 3px solid #224c8d;
    padding: 5px;
    height: 28px;
    border-radius: 18px 0px 0px 18px;
    outline: none;
    background: white;
    font-family: 'Open Sans';
  }

  .search-button {
    width: 4.5%;
    height: 44px;
    border: 3px solid #224c8d;
    background: #224c8d;
    text-align: justify;
    color: white;
    border-radius: 0px 18px 18px 0px;
    cursor: pointer;
    font-size: 22px;
  }

  i {
    background-color: transparent;
  }
  
  .menu-bar {
    overflow: hidden;
    background-color: #224c8d;
    display:flex;
    justify-content: center;
    gap: 50px;
  }
  
  .menu-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Open Sans';
    background-color: #224c8d;
  }
  
  .menu-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .menu-bar a.active {
    background-color: #798071;
    color: white;
  }
  
  .rectangle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .rectangle p {
    font-family: 'Open Sans';
    font-size: 20;
    padding-top: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 15px;
  }
  
  .hover-icon {
    display: flex;
    flex-direction: row;
    gap:30px;
  }
  
  .hover-icon img {
    width: 20px;
    height: 20px;
    
  }
  
  .copyright {
    display: flex;
    font-family: 'Open Sans';
    font-size: 13px;
  }
  
  
