* {box-sizing: border-box;}

  .container-out {
    font-family: "Fira Sans", sans-serif;
    padding: 15px 0;
    position:fixed;
    top: 0;
    right: 40%;
    }
    
    .container-in {
    width: 95%;
    margin: 0 auto;
    }
    
    .search-container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    }
    
    .search-title {
    margin-top: 0;
    margin-bottom: 5px;
    color: #1ca0b8;
    }
    
    #search-input {
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    border: 2px solid #1ca0b8;
    font-size: 15px;
    }
    
    #search-input:focus {
    outline: none;
    }
    
    #search-results {
    position: absolute;
    z-index: 10;
    margin: 1px auto;
    background: #1ca0b8;
    width: 90%;
    text-align: left;
    border-radius: 4px;
    border: 2px solid #1ca0b8;
    display: none;
    }
    .search-item {
    color: white;
    cursor: pointer;
    }
    .search-item p {
    margin: 0;
    padding: 10px;
    }
    .search-item:hover {
    background: #2cc7e2;
    }
    #search-data {
    margin-top: 10px;
    color: #1ca0b8;
    }
    #search-data p {
    margin: 0;
    padding: 6px;
    font-size: 16px;
    }

  .fooot {
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #6495ed;
    height: 20%
    }

    .fooot img {
      display:flex;
      position:fixed;
      left: 2%;
      bottom: 5%;
      width:164px;
      height:auto
    }

    .fooot a {
      position: fixed; 
      left:25%;
      bottom:12%;
      color:white

    }
    .fooot p {
      position: fixed; 
      left:25%;
      bottom:4%;
      color:white
    }


  .list {
  font-size: 50px;
  display: inline-block;
  list-style: none;
}
  .list a { 
  color:black;  
  }

  .list a:visited { 
    text-decoration: none; 
}

  .mid {
    font-size:42px;
    position:fixed;
    top:35%;
    right:40%

  }