* {box-sizing: border-box;}


.tophead { 
    width:100%;
    length:20%;
    float: left;
    display: block;
    color: black;
    padding: 14px 16px;
    font-size: 17px;
    background-color:white;
}

.tophead .img {
  display:block;
  padding: 14px 16px;
  font-size: 17px;
  position:fixed;
  left:10%
}

.tophead .searchbox {
    float: right;
    display: flex;
    position:fixed;
    top:15%;
    right:10%;
    justify-content: center;
    ;
    
  }
  
  .tophead input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: rgb(168, 168, 168);
  }
  
  .tophead .searchbox button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .searchbox button:hover {
    background: #ccc;
  }

  .fooot {
  position: fixed;
  bottom: 0;
  left: 0;}

  